@code {
	[Parameter]
	public string currentPage { get; set; }

	string indexSelPage = "<div class=\"navBarItem navBarSelected\"><a href=\"\">Home</a></div>";
	string indexPage = "<div class=\"navBarItem\"><a href=\"\">Home</a></div>";

	string projectSelPage = "<div class=\"navBarItem navBarSelected\"><a href=\"projects\">Projects</a></div>";
	string projectPage = "<div class=\"navBarItem\"><a href=\"projects\">Projects</a></div>";

	string contactSelPage = "<div class=\"navBarItem navBarSelected\">Contact</div>";
	string contactPage = "<div class=\"navBarItem\">Contact</div>";
}

<div class="header">
	<div class="headerText">
		<h1>Bailey-Tyreese Dawson</h1>
	</div>
	<img class="headerImageTag" src="img/ThePaganZone_Logo.png" />
</div>
<div class="navBar">
	@if (currentPage.ToLower() == "index")
	{
		@((MarkupString)indexSelPage)
		@((MarkupString)projectPage)
		@((MarkupString)contactPage)
	} else if (currentPage.ToLower() == "projects")
	{
		@((MarkupString)indexPage)
		@((MarkupString)projectSelPage)
		@((MarkupString)contactPage)
	}
	else if (currentPage.ToLower() == "contact")
	{
		@((MarkupString)indexPage)
		@((MarkupString)projectPage)
		@((MarkupString)contactSelPage)
	}
	else
	{
		FileLogger.WriteLine("Error = invalid page tried to load header");
		Console.WriteLine("Error = Invalid page tried to load header");
		throw new Exception("Invalid page tried to load header");
	}
</div>
